.container{
    width: 960px;
    margin: 0% auto;
}
.div1{
    width: 100%;
    height: 50px;
    background-color:#7b5a46;
}
.content .main_banner{
    background: url("https://coffeeshop.blob.core.windows.net/caffebene/images/main/spot_bg_131022.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#navi_wrap {
    z-index: 1;
     position: relative;
  } 
 
 
#navi {
  list-style: none; 
  float: right;
    position: relative;
    bottom: 65px;
    left: 10px;
    width: 800px;
    height: 97px;
    line-height: 97px;
    margin: 0%;
    padding: 0%;
}

#navi li {
  display: inline;
  margin-right: 20px; 
}

#navi a {
  text-decoration: none;
  color: #333; 
  font-weight: bold;
  font-size: 18px; 
}
#navi a:hover {
  color: #267ac1;
}
  .nav_depth {
    float: left;
    width: 180px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .main_bn_box {
    padding: 40px 0;
  }
  .main_bn_box img {
    width: 440px;
    height: 605px;
  }
  .product_wrap {
    position: relative;
    margin-top: 36px;
    margin-bottom: 30px;
  }
  .product_box a{
    color: black;
    text-decoration: none;
  }
  .product_box a:hover{
    color: #267ac1;
  }
  .product_box {
    overflow: hidden;
    border: 1px solid #c3c2c2;
    border-top: 2px solid #267ac1;
  }
  .product_box01 {
    float: left;
    width: 238px;
    height: 236px;
    margin-top: 35px;
    background: url("https://coffeeshop.blob.core.windows.net/caffebene/images/main/main_menu01.jpg") no-repeat left bottom;
  }
  .product_box02 {
    float: left;
    width: 238px;
    height: 236px;
    margin-top: 35px;
    background: url("https://coffeeshop.blob.core.windows.net/caffebene/images/main/beverages.jpg") no-repeat left bottom;
  }
  .product_box03 {
    float: left;
    width: 238px;
    height: 236px;
    margin-top: 35px;
    background: url("https://coffeeshop.blob.core.windows.net/caffebene/images/main/dessert.jpg") no-repeat left bottom;
  }
  .product_box04 {
    float: left;
    width: 238px;
    height: 236px;
    margin-top: 35px;
    background: url("https://coffeeshop.blob.core.windows.net/caffebene/images/main/main_menu02.jpg") no-repeat left bottom;
  }
  .product_box01 a,
  .product_box02 a,
  .product_box03 a,
  .product_box04 a {
    display: block;
    height: 236px;
  }
  .product_box01 span,
  .product_box02 span,
  .product_box03 span,
  .product_box04 span {
    display: block;
    padding: 11px 0 0 19px;
    font-size: 150%;
    font-weight: bold;
    line-height: 1;
  }
  #footer {
    height: 80px;
    background-color: #513a2a;
  }
  .footer_wrap {
    overflow: hidden;
  }
  .foot_logo {
    float: left;
    padding: 25px 0 0 24px;
  }
  .foot_logo img{
    width: 100px;
  }
  .copyright {
    float: left;
    padding: 20px 0 0 34px;
  }
  .copyright ul {
    overflow: hidden;
  }
  .copyright ul.wide2 {
    width: 696px;
  }
  .copyright li {
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    padding: 0 12px;
    color: #fff;
    border-right: 1px solid #fff;
    line-height: 1;
    font-size: 10px;
  }
  .copyright li.first {
    padding-left: 0;
    font-size: 10px;
  }
  .copyright li.last {
    padding-right: 0;
    border-right: 0 none;
    font-size: 10px;
  }
  .copyright p {
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 10px;
    color: #fff;
    line-height: 1;


  }
  .global_btn {
    float: right;
    padding-top: 20px;
    position: relative;
    bottom: 55px;
    left: 50px;

  }
  .global_btn img{
    width: 140px;
    
  }
  
.header {
  background-color: #ffffff; 
  padding: 10px; 
}


.logo {
  margin: 0;
  padding: 0;
}

.logo a {
  display: inline-block;
  text-decoration: none;
}

.logo img {
  max-width: 100px; 
}


